.root {
  @apply sticky top-0 bg-primary z-40 transition-all duration-150;
}

.icon{
    margin-left:.5rem;
}

.link {
  @apply inline-flex items-center text-primary leading-6 font-medium transition ease-in-out duration-75 cursor-pointer text-accents-6;
  font-weight: bold;
  text-transform: uppercase;
  font-size:.9rem;
  color:black;
  transition: all .2s;
}

  .link:hover {
    @apply text-accents-9;
    color: #545454;
    transition: all .2s;
  }

.link:focus {
  @apply outline-none text-accents-8;
}

.logo {
  @apply cursor-pointer rounded-full border transform duration-100 ease-in-out;

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
}

.link__floating{
    display:inline-flex;
    position:relative; /*needed for floating sub-menus*/
}

@keyframes opacityTransitionOn {
  0% {
    display: none;
    height: 0;
    padding: 0;
    opacity: 0;
  }
  1% {
    opacity: 0;
    height: 500px;
    padding: 2rem;
    display: block;
  }

  100% {
    opacity: 1;
    height: 500px;
    padding: 2rem;
    display: block;
  }
}

@keyframes opacityTransitionOff {
  0% {
    opacity: 1;
    height: 500px;
    padding: 2rem;
    display: block;
  }

  99% {
    opacity: 0;
    height: 500px;
    padding: 2rem;
    display: block;
  }
  100%{
      opacity: 0;
      height:0;
      padding:0;
      display:none;
  }
}

.link__floating .link__floating_floatingMenu {
    opacity:0;
    height:0;
  animation: opacityTransitionOff .2s forwards;
}

.link__floating:hover .link__floating_floatingMenu, .link__floating:focus .link__floating_floatingMenu {
  display: block;
  height:500px;
  animation: opacityTransitionOn .2s forwards;
}
