.root {
  @apply relative;
}

.list {
  @apply flex flex-row items-center justify-items-end h-full;
}

.item {
  @apply mr-6 cursor-pointer relative transition ease-in-out duration-100 flex items-center outline-none text-primary;

  &:hover {
    @apply text-accents-6 transition scale-110 duration-100;
  }

&:hover .bagCount {
  @apply text-accents-6 transition;
}

  &:last-child {
    @apply mr-0;
  }

  &:focus,
  &:active {
    @apply outline-none;
  }
}

.bagCount {
  color: rgb(10,10,10);
  font-size:.9rem;
  margin-left:.3rem;
}

.avatarButton {
  @apply inline-flex justify-center rounded-full;
}

.avatarButton:focus {
  @apply outline-none;
}
