.link {
  & > svg {
    @apply transform duration-75 ease-linear;
  }

  &:hover > svg {
    @apply scale-110;
  }
}

.root{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:4rem;
}

.list {
  display: flex;
  flex-direction: row;
}

.list_item {
  margin:1rem .6rem;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
