.section {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  flex-wrap:wrap;
}

.section_list li {
  list-style: none;
}

  .section_list li a {
    font-size: .9rem;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    border-bottom: solid 1px rgba(84,84,84,0.15);
    margin: 0 1rem;
    transition: all .2s;
    padding-bottom: 5px;
  }

.section_list li a:hover {
  color: rgb(236, 122, 92);
  border-bottom: solid 1px rgba(84,84,84,0);
  transition: all .2s;
}
